* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.form {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid rgb(61, 61, 61);
  border-radius: 10px;
}

.form__submit-btn {
  height: 40px;
  width: 80px;
  background-color: transparent;
  border: 2px solid rgb(61, 61, 61);
  border-radius: 10px;
  cursor: pointer;
}

.form__submit-btn:hover {
  border-color: rgb(184, 183, 183);
}

.table {
  margin: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.table__head {
  text-align: left;
}

.table__body {
  outline: 2px solid rgb(61, 61, 61);
  outline-offset: 15px;
  border-radius: 10px;
}

.spacer {
  height: 25px;
}

.delete__btn {
  cursor: pointer;
}
